name: github_release

on:
  push:
    tags:
      - "*"

jobs:
  github_release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: Prepare release notes
      run: uvx git-changelog --release-notes > release-notes.md

    - name: Create GitHub release
      uses: softprops/action-gh-release@v2
      with:
        body_path: release-notes.md